/* search.css */

body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0f0d0d;
}

tr:hover {
    background-color: #604f4f;
}

td[colspan="5"] {
    text-align: center;
}

